@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#139203;
    --font-color1:#001e00;
    --border: solid 1px rgb(204, 202, 202);
    --border-bottom:0px solid rgb(184, 182, 182);
    --box-shadow:0 2px 4px rgba(0,0,0,0.09);
    --font-hover-color:#f0f7ee;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    outline: none;
    text-decoration: none;
    transition: 0.2s linear;
}


html{
    font-size:50%;
}

header{
    display: flex;
    align-items: center;
    padding: 1rem 2%;
    border-bottom: var(--border);
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index: 1000;
    
}

.menu-bar{
    width:8rem;
    height:4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 0;
    display:none;
}





.hamburger  {
    content:"";
    position:absolute;
    width: 2.8rem;
    height: .2rem;
    background-color: black;
    margin:4% ;
}





.hamburger::before{
    content:"";
    position:absolute;
    width: 2.8rem;
    height: .2rem;
    background-color: black;
    top:1rem;
}

.hamburger::after{
    content:"";
    position:absolute;
    width: 2.8rem;
    height: .2rem;
    background-color: black;
    bottom: 1rem;
}

header .logo{
    max-width: 10rem;
}
header .logo h1{
    font-size: 2.8rem;
    font-weight: 500;
    color: var(--main-color);
    
}

header .main-nav{
    display: flex;
    align-items: center;
    padding-left: 2%;
    justify-content: space-between;
    width: 100%;
}

header .main-nav .container-left{
    width: 100%;
    max-width: 46rem;
}

header .main-nav .container-left a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--font-color1);
}

header .main-nav .container-left .login-link{
    display:none;
}

header .main-nav .container-left .signup-link{
    display: none;
}

header .main-nav .container-left a i{
    font-size: 1.1rem;
    padding: 0 0.3rem;
}


header .main-nav .container-right{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}

header .main-nav .container-right .search-form{
    display: flex;
    justify-content: space-between;
    width:60%;
    height: 4.5rem;
    align-items: center;
    border: solid .25rem rgb(235, 234, 234);
    border-radius: 5rem;
    padding:0 2rem;
    margin:0 2rem;
    position: relative;
    max-width: 38rem;
    
}

header .main-nav .container-right .search-form input{
width:72%;
height: 100%;
padding: 0.5rem 4.8rem 0.5rem 4rem;
font-size:1.6rem;
position: absolute;
left:0;
background: transparent;
/*border:1px solid black;*/
border-radius: 5rem;
border: none;
color: black;
margin-left: 0.1rem;

}

header .main-nav .container-right .search-form input::placeholder{
    color: black;
    opacity: 1;
}

header .main-nav .container-right .search-form label{
    position: absolute;
    cursor: pointer;
    font-size: 1.9rem;
    top:50%;
    transform: translateY(-50%);
    left: 3%; 
}

header .main-nav .container-right .search-form div{
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    top:50%;
    transform: translateY(-50%);
    right: 30%; 
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    padding: .05rem 0;
    
}

header .main-nav .container-right .search-form div.active{
    display: block;
}

header .main-nav .container-right .search-form button{
    width:26.5%;
    height: 100%;
    position:absolute;
    right: 0;
    border-radius: 5rem;
    background: transparent;
    font-size: 1.6rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .main-nav .container-right .search-form button::before{
    content:"";
    position: absolute;
    left: -5%;
    height: 2rem;
    width:0.1rem;
    background-color: rgb(214, 211, 211);
}

header .main-nav .container-right .search-form button i{
    font-size: 1.1rem;
    padding: 0 0.3rem;
    margin-left:0.4rem;
    display: block;
}

header .main-nav .container-right .login-link{
    font-size: 1.6rem;
    color: var(--font-color1);
    padding-right: 2%;
    width: 9rem;
    text-align: center;
    max-width: 11rem;
}

header .main-nav .container-right .signup-link{
    font-size: 1.6rem;
    background-color: #1a860c;
    padding: 1.2rem 0.2%;
    border-radius: 5rem;
    color: #ffff;
    width: 11rem;
    text-align: center;
}

header .main-nav .container-right .signup-link:hover{
    background-color: #209c0f;
}


header .main-nav .container-right i{
    display: none;
}



/*--Styling of the dropdown menu--*/

.main-nav .container-left .dropdown-menu{
    position: absolute;
    
    top:100%;
    right: 0;
    left:0;
    display: flex;
    align-items: center;
    padding: 2.5rem 1.5rem;
    box-shadow: var(--box-shadow);
    margin-top: 1rem;
}

.main-nav .container-left .dropdown-menu .dropdown-menu-left{
    display: flex;
    flex-direction: column;
    width: 32%;
    max-width: 48rem;
    border-right: 0.1rem solid rgb(185, 181, 181);
    text-align: center;
    
    
    
}

.main-nav .container-left .dropdown-menu .dropdown-menu-left a{
    padding: 0;
    margin: 0;
    display: flex;
    padding-left: 1rem;
}

.main-nav .container-left .dropdown-menu .dropdown-menu-left a button{
    width: 90%;
    margin: 0;
    height: 8rem;
    text-align: left;
    margin-bottom:2rem ;
    position: relative;
    background: none;
    border: none;
    background-color: var(--font-hover-color);
    padding-left: 3rem;
}

.main-nav .container-left .dropdown-menu .dropdown-menu-left a button i{
    position: absolute;
    transform: translateY(-50%);
    top:50%;
    right:9%;
    font-size: 1.5rem;
    color: var(--main-color);
}

.main-nav .container-left .dropdown-menu .dropdown-menu-left a button .super{
    font-size: 1.6rem;
    font-weight: bolder;
    padding-bottom:1rem ;
}

.main-nav .container-left .dropdown-menu .dropdown-menu-left a button .sub{
    font-size: 1.5rem;
    
}

.main-nav .container-left .dropdown-menu .dropdown-menu-right{
    display: flex;
    margin-left:5rem;
    margin-top: 0;
    padding-top: 0;
    height: 30rem;
    
}

.main-nav .container-left .dropdown-menu .dropdown-menu-right .dropdown-menu-right1{

}

.main-nav .container-left .dropdown-menu .dropdown-menu-right .dropdown-menu-right2{
    display: flex;
    flex-direction: column;
}















@media (max-width:1024px) {
    html{
        font-size:50%;
    }
}

@media (max-width:991px) {

    header{
        padding: 1rem 0.2%;
    }

    .menu-bar{
        display: block;
    }

    header .logo h1{
        font-size: 2.5rem;
    }
    .main-nav .container-left{
        position: absolute;
        top:100%;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        left:-100%;
        z-index: 800;
        background-color: rgb(254, 254, 254);
        margin-top: 0.5rem;
    }

    .main-nav .container-left.active{
        left:0;
    }

    header .main-nav .container-left .top{
        padding-top: 2.5rem;
    }

    header .main-nav .container-left a{
        display: block;
        width: 100%;
        margin-bottom: 5rem;
        padding-left: 1.5rem;
    }

    header .main-nav .container-left a i{
        position: absolute;
        right:3rem;
    }

    header .main-nav .container-left .login-link{
        display: block;
    }

    header .main-nav .container-right .login-link{
        display:none;
    }

    header .main-nav .container-right .search-form{
        display: none;
    }

    header .main-nav .container-right i{
        display: block;
        position: absolute;
        cursor: pointer;
        font-size: 2.3rem;
        top:50%;
        transform: translateY(-50%);
        right: 2.5rem; 
        color: black;
    }

    header .main-nav .container-right .signup-link{
        background: none;
        color: black;
        margin-right: 4.5rem;
    }

    header .main-nav .container-right .signup-link.active{
        display: none;
    }

    header .main-nav .container-right .signup-link:hover{
        background: none;
    }

   

    header .main-nav .container-left .signup-link{
        display: block;
        text-align: center;
        margin: 0;
        position: absolute;
        top:calc(100vh - 20%);
        left:50%;
        transform: translateX(-50%);
        background-color: #1a860c;
        padding: 1.2rem;
        border-radius: 5rem;
        width: 95%;
        color: white;
    }
   
}



/* .nav-container{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 24px 0;
    
    height: 50px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo a{
    color: #14a800;
    font-weight:550;
    font-size: 19px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-right:20px;
}



.left-nav{
    display: flex;
    width: 50%;
    height: 64px;
    align-items: center;
}

.left-nav-items-container .left-nav-items{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-nav-items .left-nav-item button{
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    cursor: pointer;
    color: #001e00;
    background: none;
    border: none;
}

.left-nav-items .left-nav-item button span i{
    font-size: 9px;
}

.left-nav-items .left-nav-item button a{
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    cursor: pointer;
    color: #001e00;
    text-decoration: none;
}


.right-nav{
    display: flex;
    width: 50%;
    justify-content: right;
    height: 100%;
}

.nav-search-input-container input{
    width: 100%;
    
}

.search-wrapper{
    background-color: gray;
    width:50%;
    height: 35px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    position: relative;
}

.search-wrapper form{
    display: flex;
    position: relative;
}

.nav-search-dropdown-container{
    position: relative;
}
.nav-search-btns button{
    position: absolute;
    top:10px;
    left:4px;
    background: none;
    border: none;
}

/*--- styling the Find Talent dropdown ---*/

/* .findtalent-dropdown-container{
    display: flex;
    height: 420px;
    border-bottom: 0px solid rgb(184, 182, 182);
    box-shadow: 0 2px 4px rgba(0,0,0,0.09);
    border-radius: 6px;
    padding:24px;
    
}

.findtalent-dropdown-container .container-left ul li{
    list-style: none;
    padding-bottom: 10px;
}

.findtalent-dropdown-container .container-left ul{
    margin: 0;
    padding: 0;

}

.findtalent-dropdown-container .container-left ul li button{
    background:none;
    border: none;
    height: 55px;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;


}

.findtalent-dropdown-container .container-left ul li .left-nav-item-dropdown-btn:hover{
    background-color: #f0f7ee;
    cursor: pointer;
}


.findtalent-dropdown-container .container-left ul li button a{
    text-decoration: none;
    color: #545554;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    
}

.findtalent-dropdown-container .container-left button .sub-title{
    display: block;
    text-align: left;
    font-size: 10px;
    
}

.findtalent-dropdown-container .container-left button span i{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    color:#14a800;
}

.container-left{
    position: relative;
}

.container-left::after{
    content: "";
    position: absolute;
    background-color: rgb(207, 205, 205);
    width:0.5px;
    height:95%;
    right:-30px;
    top:0px;
}

.container-center{
    margin-left: 40px;
    position:relative;
    padding-left:40px;
    font-size: 12px;
    
}

.container-center .big-text{
    text-decoration: none;
    color: #545554;
    font-size: 13px;
    font-weight: 500;
    line-height: 10px;
    position: relative;
    padding-top: 10px;

}

.container-center .big-text sup{
    vertical-align: super;
    font-size: 5.2px;
    position: absolute;
    top:4px;
    
}

.container-center .small-text{
    font-size: 10px;
    line-height: 18px;
    color: #7e7e7e;
}
.container-center button{
    background: none;
    border: none;
    font-size: 10px;
    padding: 0;
    color: #14a800;
}

.container-center button a{
    color: #128d02;
    padding-right: 10px;
}

.container-center::before{
    content: "";
    position: absolute;
    background-color: #8ee483;
    width: 15%;
    height: 3px;
    top:-5px;
    left:40px;
}


.container-right{
    margin-top:25px;
    margin-left:60px;

}
.container-right button{
    background: none;
    border:none;
    
}

.container-right li{
    list-style: none;
    
}

.container-right button a{
    text-decoration: none;
    color: #5e5d5d;
    font-size: 11px;
    line-height: 30px;
} */ */