@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');


:root{
    --main-color:#139203;
    --font-color1:#001e00;
    --border: solid 1px rgb(204, 202, 202);
    --border-bottom:0px solid rgb(184, 182, 182);
    --box-shadow:0 2px 4px rgba(0,0,0,0.09);
    --font-hover-color:#f0f7ee;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    outline: none;
    text-decoration: none;
    
}


html{
    font-size:50%;
}

header{
    display: flex;
    align-items: center;
    padding: 1rem 2%;
    background-color: white;
    border-bottom: var(--border);
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index: 10000;
    
    
}

.menu-bar{
    width:8rem;
    height:4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 0;
    display:none;
}





.hamburger  {
    content:"";
    position:absolute;
    width: 2.8rem;
    height: .2rem;
    background-color: black;
    margin:4% ;
}





.hamburger::before{
    content:"";
    position:absolute;
    width: 2.8rem;
    height: .2rem;
    background-color: black;
    top:1rem;
}

.hamburger::after{
    content:"";
    position:absolute;
    width: 2.8rem;
    height: .2rem;
    background-color: black;
    bottom: 1rem;
}

header .logo{
    max-width: 10rem;
}
header .logo h1{
    font-size: 2.8rem;
    font-weight: 500;
    color: var(--main-color);
    
}

header .main-nav{
    display: flex;
    align-items: center;
    padding-left: 2%;
    justify-content: space-between;
    width: 100%;
}

header .main-nav .container-left{
    width: 100%;
    
}

header .main-nav .container-left a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--font-color1);
}

header .main-nav .container-left .login-link{
    display:none;
}

header .main-nav .container-left .signup-link{
    display: none;
}

header .main-nav .container-left a i{
    font-size: 1.1rem;
    padding: 0 0.3rem;
}


header .main-nav .container-right{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}

header .main-nav .container-right .search-form{
    display: flex;
    justify-content: space-between;
    width:60%;
    height: 4.5rem;
    align-items: center;
    border: solid .25rem rgb(235, 234, 234);
    border-radius: 5rem;
    padding:0 2rem;
    margin:0 2rem;
    position: relative;
    max-width: 38rem;
    
}

header .main-nav .container-right .search-form input{
width:72%;
height: 100%;
padding: 0.5rem 4.8rem 0.5rem 4rem;
font-size:1.6rem;
position: absolute;
left:0;
background: transparent;
/*border:1px solid black;*/
border-radius: 5rem;
border: none;
color: black;
margin-left: 0.1rem;

}

header .main-nav .container-right .search-form input::placeholder{
    color: black;
    opacity: 1;
}

header .main-nav .container-right .search-form label{
    position: absolute;
    cursor: pointer;
    font-size: 1.9rem;
    top:50%;
    transform: translateY(-50%);
    left: 3%; 
}

header .main-nav .container-right .search-form div{
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    top:50%;
    transform: translateY(-50%);
    right: 30%; 
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    padding: .05rem 0;
    
}

header .main-nav .container-right .search-form div.active{
    display: block;
}

header .main-nav .container-right .search-form button{
    width:26.5%;
    height: 100%;
    position:absolute;
    right: 0;
    border-radius: 5rem;
    background: transparent;
    font-size: 1.6rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .main-nav .container-right .search-form button::before{
    content:"";
    position: absolute;
    left: -5%;
    height: 2rem;
    width:0.1rem;
    background-color: rgb(214, 211, 211);
}

header .main-nav .container-right .search-form button i{
    font-size: 1.1rem;
    padding: 0 0.3rem;
    margin-left:0.4rem;
    display: block;
}

header .main-nav .container-right .login-link{
    font-size: 1.6rem;
    color: var(--font-color1);
    padding-right: 2%;
    width: 9rem;
    text-align: center;
    max-width: 11rem;
}

header .main-nav .container-right .signup-link{
    font-size: 1.6rem;
    background-color: #1a860c;
    padding: 1.2rem 0.2%;
    border-radius: 5rem;
    color: #ffff;
    width: 11rem;
    text-align: center;
}

header .main-nav .container-right .signup-link:hover{
    background-color: #209c0f;
}


header .main-nav .container-right i{
    display: none;
}



/*--Styling of the dropdown menu--*/

.main-nav .container-left .dropdown-menu{
    position: absolute;
    top:100%;
    right: 0;
    left:0;
    display: flex;
    align-items: center;
    padding: 2.5rem 1.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    margin-top: 1rem;
    height: 51.5rem;
    z-index: 200;
    transform: scaleY(0);
    transform-origin: top;
    background-color: white;
}

.main-nav .container-left .dropdown-menu.active6{
    transform: scaleY(1);
}

.main-nav .container-left .dropdown-menu .dropdown-menu-left{
    display: flex;
    flex-direction: column;
    min-width: 40rem;
    width: 32%;
    max-width: 48rem;
    border-right: 0.1rem solid rgb(185, 181, 181);
    text-align: center; 
    height: 100%;
}

.main-nav .container-left .dropdown-menu .dropdown-menu-left a{
    padding: 0;
    margin: 0;
    display: flex;
    padding-left: 1rem;

}

.main-nav .container-left .dropdown-menu .dropdown-menu-left a button{
    width: 90%;
    min-width: 35rem;
    margin: 0;
    height: 8rem;
    text-align: left;
    margin-bottom:2rem ;
    position: relative;
    background: none;
    border: none;
    
    padding-left: 3rem;
}

.main-nav .container-left .dropdown-menu .dropdown-menu-left a button i{
    position: absolute;
    transform: translateY(-50%);
    top:50%;
    right:9%;
    font-size: 1.5rem;
    color: var(--main-color);
}

.main-nav .container-left .dropdown-menu .dropdown-menu-left a button .super{
    font-size: 1.6rem;
    font-weight: bolder;
    padding-bottom:1rem ;
}

.main-nav .container-left .dropdown-menu .dropdown-menu-left a button .sub{
    font-size: 1.5rem;
    
}

.main-nav .container-left .dropdown-menu .dropdown-menu-right{
    display: none;/* change back to flex when you want to activate*/
    margin-left:5rem;
    margin-top: 0;
    padding-top: 0;
    height: 100%;
    width:100rem;
    
    gap:3rem;
    
}

.main-nav .container-left .dropdown-menu .dropdown-menu-right.active1{
    display: flex;
}


.main-nav .container-left .dropdown-menu .dropdown-menu-right .dropdown-menu-right1{
    width: 35rem;
    padding-top: 3rem;
    
}

.main-nav .container-left .dropdown-menu .dropdown-menu-right .dropdown-menu-right1::before{
    content: "";
    position: absolute;
    width:6rem;
    height: 0.5rem;
    background-color: #94f188;
    top:2rem;
}

.main-nav .container-left .dropdown-menu .dropdown-menu-right .dropdown-menu-right2{
    display: flex;
    flex-direction: column;
    width:50rem;
    padding-top: 4rem;
    padding-left: 10rem;
    flex-wrap: wrap;
    gap:2rem;
    margin-top:2rem;
    font-size: 1rem;
    
}





.dropdown-menu-right .dropdown-menu-right1 h2{
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
}

.dropdown-menu-right .dropdown-menu-right1 h2 sup{
    font-size: 0.7rem;
    position: relative;
    top:-0.6rem;
}
.dropdown-menu-right .dropdown-menu-right1 p{
    font-size:1.4rem;
    padding-bottom:1.5rem;
}

header .dropdown-menu-right .dropdown-menu-right1 a{
    color: var(--main-color);
    font-size: 1.4rem;
    margin: 0;
    text-decoration: underline;
}

.dropdown-menu-right-second{
    display: none;/*-- Remember to change to flex*/
    height: 100%;
    margin-left:5rem;
    gap:3rem;
}

.dropdown-menu-right-second.active2{
    display:flex;
}


header .dropdown-menu-right-second .dropdown-menu-right-second1{
    width: 25%;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
}


header .dropdown-menu-right-second .dropdown-menu-right-second1::before{
    content: "";
    position: absolute;
    width:6rem;
    height: 0.5rem;
    background-color: #94f188;
    top:2rem;
}

.dropdown-menu-right-second .dropdown-menu-right-second1 h2{
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
}


.dropdown-menu-right-second .dropdown-menu-right-second1 sup{
    font-size: 0.7rem;
    position: relative;
    top:-0.6rem;
}


.dropdown-menu-right-second .dropdown-menu-right-second1 p{
    font-size:1.4rem;
    padding-bottom:1.5rem;
}

header .dropdown-menu-right-second .dropdown-menu-right-second1 a{
    color: var(--main-color);
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}










.dropdown-menu-right-second .dropdown-menu-right-second2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    height: 75%;
    margin-top: 8rem;
    
    
}

.dropdown-menu-right-second .dropdown-menu-right-second2 a{
    width:16rem;
    height: 16rem;
    min-width: 13rem;
    min-height: 13rem;
    border:0.1rem solid rgb(182, 180, 180);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.9rem;
    text-align: center;
    outline: none;
}

header .dropdown-menu-right-second .dropdown-menu-right-second2 a:hover{
    background-color: var(--font-hover-color);
}


.dropdown-menu-right-second .dropdown-menu-right-second2 a img{
    width:100%;
    height: 65%;
    object-fit: cover;
    border-radius: 0.9rem 0.9rem 0 0 ;
    outline: none;
}

.dropdown-menu-right-second .dropdown-menu-right-second2 a p {
    padding:1.5rem;
    font-size: 1.4rem;
}

/*--styling the third dropdown*/


.dropdown-menu .dropdown-menu-right-third{
    display: none;/*please remember to change to flex*/
    height: 100%;
    margin-left:5rem;
    gap:3rem;
}

.dropdown-menu .dropdown-menu-right-third.active3{
    display:flex;
}

header .dropdown-menu-right-third .dropdown-menu-right-third1{
 
    flex: 1 1 30rem;
    max-width: 50rem;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    
}

header .dropdown-menu-right-third .dropdown-menu-right-third1::before{
    content: "";
    position: absolute;
    width:6rem;
    height: 0.5rem;
    background-color: #94f188;
    top:2rem;
}

.dropdown-menu-right-third .dropdown-menu-right-third1 h2{
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
}


.dropdown-menu-right-third .dropdown-menu-right-third1 sup{
    font-size: 0.7rem;
    position: relative;
    top:-0.6rem;
}


.dropdown-menu-right-third .dropdown-menu-right-third1 p{
    font-size:1.4rem;
    padding-bottom:1.5rem;
}

header .dropdown-menu-right-third .dropdown-menu-right-third1 a{
    color: var(--main-color);
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
header .dropdown-menu-right-third .dropdown-menu-right-third2{
    height: 100%;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    width:50rem;
    padding-left: 10rem;
    font-size: 1.6rem;
    padding-top: 6.5rem;
    gap:2rem;
}


/*styling the home section*/
.home{
    margin-top: 20rem;
    align-items: center;
    justify-content: space-between;
    gap:15rem;
    display: flex;
    padding:0 5rem 5rem;
    max-width: 150rem;
    margin: auto;
    
}

.home .left-container{
    width: 70rem;
}

.home .left-container h1{
    font-size: 10rem;
    font-family: 'Cardo', serif;
    color: #14a800;
    line-height: 10rem;
    letter-spacing: 0.1rem;
    
}

.home .left-container .top{
    padding-top: 1.5rem;
}

.home .left-container p{
    font-size: 3rem;
    color: #5e6d55;
    
}

.home .left-container a{
    margin-top: 4.7rem;
    background-color: #14a800;
    font-size: 2rem;
    display: inline-block;
    color: white;
    padding:1.3rem 4.5rem;
    border-radius: 3rem;
    text-decoration: underline;
}

.home .left-container a:hover{
    text-decoration: none;
}
.home img{
    width:55rem;
    padding-top: 15rem;

}

/*Styling the about section*/
.about{
    padding: 0 5rem 2rem;
    display: flex;
    justify-content:center;
    gap:5rem;
    max-width: 150rem;
    margin: auto;
}

.about img{
   width: 100%;
   height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 1rem;
    
}

.about .img-section .img-smallscreen{
    display: none;
}


.about .img-section{
    position:relative;
    width: 60rem;
}

.about .img-section .bars ul{
    position: absolute;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    gap:0.6rem;
    position:absolute;
    bottom: 0.6rem;
}

.about .img-section .bars li{
    width:23%;
    height: 0.5rem;
    background-color:rgb(204, 198, 198);
    list-style: none;
    border-radius: 0.5rem;
}

.about .img-section .bars li div{
    width: 0%;
    height: 0.5rem;
    background-color: rgb(131, 128, 128);
    border-radius: 0.5rem;
}


.about .text-content{
    width: 75rem;
}

.about .text-content h2{
    font-size: 5rem;
    font-family: 'Cardo', serif;
}

.about .text-content .sub-heading{
    padding-top: 3rem;
    
}

.about .text-content .sub-heading h3{
    font-size: 2.5rem;
    font-weight: normal;
}

.about .text-content .sub-heading span i{
    font-size: 1.8rem;
    padding-right: 2rem;
}

.about .text-content .sub-heading p{
    font-size: 1.8rem;
    font-weight: 300;
    padding-left: 4.4rem;
}

.about .text-content .buttons{
    padding-top:4rem;
}

.about .text-content .buttons .btn1{
    background-color:#2f9721;
    font-size: 2rem;
    color: white;
    padding:1.2rem 3rem;
    border-radius: 3rem;
    font-weight: 500;
}

.about .text-content .buttons .btn2{
    background:none;
    font-size: 2rem;
    color: #2f9721;
    border: 0.3rem solid #2f9721;
    padding:1.2rem 3rem;
    border-radius: 3rem;
    font-weight: 500;
    margin-left: 2rem;
}

/*start styling the talent section*/

.talent{
    padding: 6rem 5rem 2rem;
    gap:5rem;
    max-width: 150rem;
    margin: auto;
}


.talent .content h2{
    font-size: 5rem;
    font-family: 'Cardo', serif;
}
.talent .content .subheading{
    font-size: 2rem;
    padding: 1rem 0 3rem;
    font-weight: 500;
    color: rgb(110, 110, 110);
}

.talent .content .subheading span{
    color:#348d28;
    font-weight: 500;
}

.talent .content .box-container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:3rem;
}

.talent .content .box-container .box{
    background-color: #f2f7f2;
    padding: 2.5rem;
    border-radius: 0.9rem;
    height: 17rem;
}

.talent .content .box-container .box h3{
    font-size: 3rem;
    font-weight: normal;
    padding-bottom: 1.5rem;
}
.talent .content .box-container .box .skills{
    font-size: 2rem;
    color: rgb(110, 110, 110);
    display: flex;
    align-items: center;
    gap: 6rem;
}

.talent .content .box-container .box .skills .star{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.talent .content .box-container .box .skills .star i{
    font-size: 1.5rem;
    color: #139203;
}





@media (max-width:1199px) {
   
    .dropdown-menu .dropdown-menu-right-third{
        flex-wrap: wrap;
        padding: 0;
        
    }

    

    header .dropdown-menu-right-third .dropdown-menu-right-third2{
        height: 20rem;
        padding: 0;
        width: 100%;
        padding: 1rem;
        margin: 0;
    }
    
    
    .main-nav .container-left .dropdown-menu .dropdown-menu-right{
        display: none;/* change back to flex when you want to activate*/
        flex-direction: column;
    }

    .main-nav .container-left .dropdown-menu .dropdown-menu-right .dropdown-menu-right1{
        width: 100%;
    }

    .main-nav .container-left .dropdown-menu .dropdown-menu-right .dropdown-menu-right2{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: 25px;
        grid-auto-flow: column;
        grid-auto-columns: minmax(100px, auto);
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 2rem;
    }
    .main-nav .container-left .dropdown-menu .dropdown-menu-right .dropdown-menu-right2 a{
        
        margin: 0;
    }
    

    .home{
        width: 130rem;
        justify-content: center;
        gap:2rem;
    }
    .home .left-container{
        width: 100rem;
    }

    .home .left-container h1{
        font-size: 8.7rem;
        line-height: 7.5rem;
    }

    .home .left-container p{
        font-size: 3rem;
    }

    .about{
        width: 130rem;
    }

    .talent{
        width: 130rem;
    }

    .talent .content .box-container{
        width:100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        gap:3rem;
    }

    .talent .content .box-container .box{
        height: 12rem;
    }

}


@media (max-width:1024px) {
    html{
        font-size:50%;
    }

}

@media (max-width:991px) {

    header{
        padding: 1rem 0.2%;
    }

    .menu-bar{
        display: block;
    }

    header .logo h1{
        font-size: 2.5rem;
    }
    header .main-nav .container-left{
        position: absolute;
        top:100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        left:-100%;
        z-index: 800;
        background-color: rgb(254, 254, 254);
        margin-top: 0.5rem;
        transition: 0.2s linear;
        right: 0;
      
        
    }

    .main-nav .container-left.active{
        left:0;
    }

    header .main-nav .container-left .top{
        padding-top: 2.5rem;
    }

    header .main-nav .container-left a{
        display: block;
        width: 100%;
        margin-bottom: 5rem;
        padding-left: 1.5rem;
        
    }

    header .main-nav .container-left a i{
        position: absolute;
        right:6%;
    }

    header .main-nav .container-left .login-link{
        display: block;
    }

    header .main-nav .container-right .login-link{
        display:none;
    }

    header .main-nav .container-right .search-form{
        display: none;
    }

    header .main-nav .container-right i{
        display: block;
        position: absolute;
        cursor: pointer;
        font-size: 2.3rem;
        top:50%;
        transform: translateY(-50%);
        right: 2.5rem; 
        color: black;
    }

    header .main-nav .container-right .signup-link{
        background: none;
        color: black;
        margin-right: 4.5rem;
    }

    header .main-nav .container-right .signup-link.active{
        display: none;
    }

    header .main-nav .container-right .signup-link:hover{
        background: none;
    }

   

    header .main-nav .container-left .signup-link{
        display: block;
        text-align: center;
        margin: 0;
        position: absolute;
        top:calc(100vh - 20%);
        left:50%;
        transform: translateX(-50%);
        background-color: #1a860c;
        padding: 1.2rem;
        border-radius: 5rem;
        width: 95%;
        color: white;
    }

    .home{
        align-items:start;
        padding-top: 9rem;
        display: flex;
        gap:0;
        max-width: 100rem;
    }

    .home img{
        width: 40rem;
        margin-top: 0;
        padding-top: 0;
    }
    .home .left-container{
        width: 50rem;
    }

    .home .left-container h1{
        font-size: 7rem;
        line-height: 7rem;
        
    }

    .home .left-container p{
        font-size: 2.6rem;
        gap:0rem;
        word-spacing: 0.0001rem;
    }

    .home .left-container a{
        padding: 1rem 3rem;
    }

    .about{
        gap:0;
        gap:2.5rem;
        max-width: 100rem;
    }

    .talent{
        width: 100rem;
    }
}

@media (max-width: 850px) {
    .about{
        flex-wrap: wrap;
        width: 9;
        margin: auto;
        padding: 0;
    }

    .about .img-section{
        width: 100%;
        height: 100%;
        margin: 0 6rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
       
        
    }
    .about .img-section .img-bigscreen{
        display: none;

    }

    .about .img-section .img-smallscreen{
        display: block;
        width: 30rem;
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }

    .about .img-section .bars{
        display: none;
    }

    .about .text-content{
        width: 100%;
        height: 100%;
        margin: 0 6rem;
        display: flex;
        justify-content: left;
        align-items: center;
        
    }
    

}

@media (max-width:767px){
    .home{
        width: 70rem;
    }
    
    .home img{
        display:none;
    }
    .home .left-container{
        margin-top: 3rem;
        
        
    }
    .home .left-container h1{
        font-size: 6.5rem;
        line-height: 7rem;
        font-weight: 600;
        
    }
    .about{
        flex-wrap: wrap;
        width: 70rem;
    }

    .about .img-section{
        width: 60rem;
        padding-left: 5rem;
        position: relative;
    }

    .about .img-section .img-bigscreen{
        display: block;
        width: 100%;
    }

    .about .img-section .img-smallscreen{
        display: none;
    }

    .about .text-content{
        width: 60rem;
        padding-left: 5rem;
        display: flex;
        justify-content: left;
        align-items: center;
        
    }

    .about .text-content .buttons .btn1{
        display: none;
    }
    .talent{
        width: 60rem;
        margin-left: 6rem;
    }

    .talent .content h2{
        font-size: 4.2rem;
        
    }
}

@media (max-width:699px){
    .about .text-content .buttons .btn2{
        width: 100%;
        display: inline-block;
        text-align: center;
        margin: 0;
    }
}
